@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

* {
  font-family: raleway;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 78px 0 55px;
}
header ul {
  display: flex;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: grey;
}
header li a {
  margin: 0 35px;
}
header li a:hover {
  border-top: #0065fc 2px solid;
  color: #0065ff;
  padding-top: 44px;
}
header a img {
  width: 60px;
  object-fit: wrap;
}

main {
  padding: 0 40px 61px 40px;
}

#home {
  padding-top: 44px;
}
.searchText {
  padding: 0 12px;
}
.searchText h1 {
  font-size: 22px;
  margin-top: 15px;
}
.searchText p {
  font-size: 16px;
  padding: 8px 3px 6px;
}
.search {
  display: flex;
  border: 1px solid #f2f2f2;
  width: 22%;
  border-radius: 11px;
  margin-top: 20px;
  justify-content: space-between;
}
.search-bar {
  border-style: none;
}
.position-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.position-btn a {
  text-decoration: none;
  color: #000000;
}
.search input {
  padding: 0 5px;
}
.search-btn {
  width: 100px;
  height: 50px;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  padding: 0 5px;
}
.position-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.filters {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-left: 22px;
  padding-top: 35px;
}
.filters p {
  font-size: 18px;
  font-weight: 700;
}
.filter {
  display: flex;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  align-items: center;
  padding: 10px 10px;
}
.icon {
  color: #0065fc;
  font-size: 22px;
}
.filter span {
  margin-right: 5px;
  font-size: 17px;
  font-weight: 700;
}
.filter a {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter:hover {
  background-color: #deebff;
  border-radius: 50px;
}
.itext {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 11px;
}
.itext i {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 10px;
}
.main-content {
  margin: 0 10px;
}
.hebergements {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
}

.hebergement-container {
  width: 66%;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.hebergement-container h2 {
  padding: 42px 40px 20px 40px;
}
.hebergements .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
  gap: 20px;
}
.hebergements .card {
  width: 30%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 5px;
  height: 60%;
}
.card {
  text-decoration: none;
  color: black;
}
.hebergements .card img {
  width: 100%;
  height: 124px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card-text {
  padding-left: 10px;
}
.afficher-plus {
  text-decoration: none;
  color: #000000;
  padding: 44px 0 46px 0;
  font-size: 18px;
  font-weight: 700;
}
.les-plus-populaires-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.les-plus-populaires {
  background-color: #f2f2f2;
  width: 32%;
  border-radius: 20px;
}
.les-plus-populaires .titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 40px 20px 40px;
}
.les-plus-populaires .card {
  display: flex;
  width: 80%;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}
.les-plus-populaires .card img {
  width: 137px;
  height: 144px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.les-plus-populaires .card .card-content {
  width: 60%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star-blue {
  color: #0065fc;
  font-size: 12px;
}
.star-grey {
  color: grey;
  font-size: 12px;
}

.activite {
  padding-top: 120px;
}
.activite .titre {
  padding-bottom: 20px;
}
.activite-containers {
  display: flex;
  gap: 43px;
}

.activite-containers .card {
  border-radius: 15px;
}

.big {
  width: 25%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  border: 1px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.big h3 {
  padding: 20px;
}
.big-pic {
  width: 100%;
  height: 389px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

footer {
  display: flex;
  background-color: #f2f2f2;
  margin: 0 40px;
  padding-top: 40p;
  padding-bottom: 40px;
  gap: 10%;
}
.footer-menu {
  padding: 20px 60px;
}
.footer-menu ul {
  list-style: none;
  padding-top: 20px;
}
.footer-menu li {
  padding: 10px 0;
}
footer a {
  text-decoration: none;
  color: black;
}

ul {
  text-decoration: none;
  list-style: none;
}
