@media screen and (max-width: 1024px) {
  body {
    margin: 0 70px;
  }
  header {
    padding: 44px 58px 0 15px;
  }

  header li a {
    margin: 0;
  }

  .filter-section {
    padding-left: 20px;
  }

  .filters {
    flex-wrap: wrap;
    gap: 10px;
  }

  .main-content {
    margin: 0;
  }
  .info {
    margin-top: 20px;
  }
  .hebergements {
    display: flex;
    flex-direction: column;
  }
  .hebergement-container {
    width: 100%;
  }
  .hebergements .card {
    margin-top: 20px;
  }
  .les-plus-populaires-container {
    flex-direction: row;
    padding: 40px;
  }

  .les-plus-populaires {
    border-radius: 0;
    width: 30%;
  }
  .les-plus-populaires .card img {
    width: 106px;
    height: 144px;
  }
  .les-plus-populaires .card .card-content h3 {
    font-size: 16px;
  }
  .les-plus-populaires .card .card-content p {
    font-size: 11px;
    font-weight: 400;
  }

  .filters h2 {
    width: 100%;
  }

  .hebergement-container {
    width: 90%;
    padding: 0 5%;
    flex-wrap: wrap;
  }
  .hebergements .card {
    width: 30%;
  }
  .les-plus-populaires {
    width: 100%;
    border-radius: 20px;
    margin-top: 50px;
  }
  .les-plus-populaires .card {
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .activite-containers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .big {
    width: 180px;
    height: 267px;
  }
  .big-pic {
    height: 211px;
    width: 180px;
  }
  .big h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
  }

  main {
    padding: 0;
  }
  footer {
    margin: 40px 0 0 0;
    padding: 40px;
  }
  .footer-menu {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  #home {
    padding-top: 20px;
  }
  .les-plus-populaires-container {
    flex-direction: column;
    padding: 0;
  }
  .search-btn span {
    display: none;
  }
  .search-btn i {
    display: block;
  }
  body {
    padding: 0;
    margin: 0;
  }

  header {
    flex-direction: column;
    padding: 21px 0 0 0;
  }
  header ul {
    width: 100%;
    justify-content: center;

    padding-top: 50px;
  }
  header ul li {
    width: 50%;
    text-align: center;
  }

  header li a:hover {
    border-bottom: 1px solid blue;
    border-top: 1px solid transparent;
    padding-bottom: 20px;
  }
  header ul {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 20px;
  }

  .filter-section {
    padding: 20px;
  }
  .search {
    width: 100%;
  }
  .search-responsive {
    display: flex;
    justify-content: center;
  }
  .search-bar {
    width: 100%;
  }

  .filters h2 {
    width: 100%;
  }
  .filters {
    align-items: start;
    padding: 34px 0;
    gap: 5px;
  }
  .filters p {
    width: 100%;
  }
  .filter span {
    font-size: 11px;
    margin: 0;
  }
  .filter {
    width: 42%;
  }
  .filter a {
    gap: 4px;
  }
  .hebergements {
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .hebergement-container {
    width: 90%;
    background-color: transparent;
  }
  .hebergements .cards {
    padding: 0;
  }
  .hebergements .card {
    width: 100%;
    margin: 20px auto 0 auto;
  }
  .les-plus-populaires {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }
  .les-plus-populaires .card {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .activite {
    padding-bottom: 80px;
  }
  .activite-containers {
    flex-wrap: wrap;
    gap: 20px;
  }
  .activite .titre {
    padding: 20px;
  }
  .big {
    width: 334px;
    height: 190px;
  }

  .big-pic {
    width: 100%;
    height: 134px;
  }
  .double .card {
    width: 100%;
  }

  main {
    padding: 0;
  }
  footer {
    flex-direction: column;
    margin: 0;
    gap: 40px;
  }
  .footer-menu {
    padding-top: 10px;
    gap: 5px;
  }
  .footer-menu li {
    padding: 5px 0;
  }
}
